body {
  font-size: 125%;
  background-color: black;
  color: white;
  font-family: 'Inconsolata', monospace;
  height: 100vh;
}


.card {
  width: 500px;
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: black;
  border-color: white;
  border-width: thick;

}

.jumbotron {
  display: inline-block;
  padding: 5px;
  color: black;
  font-family: 'Audiowide', cursive;
  width: 700px;
  margin-top: 20px;
  /* margin-bottom: 2rem; */
}

img {
  height: 100px;
  width: 100px;
}

.card > label {
  border: 2px solid white;
}

input {
  margin-left: 5px;
}

.your-score {
  text-align: center;
  font-weight: bold;
  font-size: 150%;
}


.quiz-buttons {
  display: flex;
  justify-content: center;
}

.carousel-indicators {
  position: relative;
  margin-top: 15px;
}

.copyright {
  display: flex;
  justify-content: center;
  width: 400px;
}

.copyname {
  font-family: 'Satisfy', cursive;
  font-weight: bold;
}

p > img {
  height: 30px;
  width: 30px;
}
