body {
  /* font-size: 75%; */
  background-color: black;
  color: white;
  font-family: 'Inconsolata', monospace;
}


.card {
  width: 500px;
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: black;
  border-color: white;

}

.jumbotron {
  display: inline-block;
  padding: 5px;
  color: black;
  font-family: 'Audiowide', cursive;
  /* margin-bottom: 2rem; */
}

img {
  height: 100px;
  width: 100px;
}

.card > label {
  border: 2px solid white;
}

input {
  margin-left: 5px;
}

.your-score {
  text-align: center;
  font-weight: bold;
  font-size: 150%;
}


.quiz-buttons {
  margin: 0 auto;
}
