/* legend {
  display: inline-block;
  width: 300px;
  margin-left: 50px;
  border: 2px solid purple;
  background-color: #000;
  color: #fff;
  padding: 3px 6px;
  transform: translate(50%,50%);
}

fieldset {
  border:1px solid green;
} */

body {
  font-size: 75%;
}


.question {
  width: 450px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.jumbotron {
  display: inline-block;
  padding: 5px;
  /* margin-bottom: 2rem; */
}

img {
  height: 100px;
  width: 100px;
}
