/* legend {
  display: inline-block;
  width: 300px;
  margin-left: 50px;
  border: 2px solid purple;
  background-color: #000;
  color: #fff;
  padding: 3px 6px;
  transform: translate(50%,50%);
}

fieldset {
  border:1px solid green;
} */

body {
  /* font-size: 75%; */
  background-color: black;
  color: white;
}


.question {
  width: 450px;
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: black;
  border-color: white
}

.jumbotron {
  display: inline-block;
  padding: 5px;
  color: black;
  /* margin-bottom: 2rem; */
}

img {
  height: 100px;
  width: 100px;
}

.question > label {
  display: inline;
  border: 2px solid white;
  margin:;
}
